
.main{

background:url("images/background.jpg") center center no-repeat;
background-size: cover, cover;
height: 100vh;
position: absolute;
top: 0;
width: 100%;
font-family: 'Quicksand', sans-serif;


}

.fade-enter{
  opacity:.01;
}

.fade-enter-active{
  opacity:1;
  transition: opacity 1000ms ease-in;
  
}

.fade-exit{
  opacity:1;
}

.fade-exit-active{
  opacity:.01;
  transition: opacity 1000ms ease-in;
}

.red{
  background-color:red;

}

.overflow {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;

}

.blue{
  background-color: blue;

}

@media only screen and (max-width: 1026px) {
  .hide-under {
      display: none;
  }
  .sound-wave{
    display:none
  }
}


.sticky{
  position:fixed;
  bottom:0;
  left:0;
  z-index: 5;
}

.footer{
  position:static;
  bottom:0;
  
}
.bigger{
  font-weight: 600;
}
.medium{
  font-weight: 500;
}
.smaller{
  font-weight: 400;
}

.test:active{
  outline: none !important;
  outline-offset: none !important;
  background: black!important;
}



.item{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scroll{
  height: calc(100vh - 228px);

  overflow:scroll;
  overflow-x: hidden;
}
.size{
  height: calc(100vh - 228px);
}


#style-11::-webkit-scrollbar {
	width: 10px;
	background-color: "#ffe3f2";
}
#style-11::-webkit-scrollbar-track {
  border-radius: 10px;
  

}

#style-11::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

#style-11::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

#style-11::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}