
.main{

background:url("images/background.jpg") center center no-repeat;
background-size: cover, cover;
height: 100vh;
position: absolute;
top: 0;
width: 100%;


}

.fade-enter{
  opacity:.01;
}

.fade-enter-active{
  opacity:1;
  transition: opacity 1000ms ease-in;
  
}

.fade-exit{
  opacity:1;
}

.fade-exit-active{
  opacity:.01;
  transition: opacity 1000ms ease-in;
}

.red{
  background-color:red;

}

.overflow {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;

}

.blue{
  background-color: blue;

}

@media only screen and (max-width: 1026px) {
  .hide-under {
      display: none;
  }
  .sound-wave{
    display:none
  }
}


.sticky{
  position:fixed;
  bottom:0;
  left:0;
}


.test:active{
  outline: none !important;
  outline-offset: none !important;
  background: black!important;
}



.item{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


